# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sonarlint/issuestore/5/c/5c031f4c54f98719315dd47659b6b22acc2ddd4a
/sonarlint/issuestore/9/c/9c1ebe163c59b1bc01272202f5e19bf4d7842252
/sonarlint/issuestore/5/8/58afb3d1b4e0927de35b113e0baa99645b4a8503
/sonarlint/issuestore/7/5/75b269ee3afe6543805f4a7e7ccd331cdf316318
/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/sonarlint/issuestore/1/7/176040122336d8b854e5bdd5413202b77373339a
/codeStyles/codeStyleConfig.xml
/compiler.xml
/sonarlint/issuestore/e/9/e9fff8cb874920e37766ddfc97efe0f3e5ab6174
/sonarlint/issuestore/e/f/ef471be60daa4f6eb1647805db9570df2c6ba374
/encodings.xml
/sonarlint/issuestore/f/5/f5dfbf1636eda7c687a49fbecc81885d01bf7569
/sonarlint/issuestore/f/2/f293cc468176b1601c47746562b17a2c848c505c
/sonarlint/issuestore/f/b/fb8ff21cb600db54eb442f308f8033b0b01e0042
/google-java-format.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/packagesearch.xml
/codeStyles/Project.xml
/inspectionProfiles/Project_Default.xml
/scopes/scope_settings.xml
/uiDesigner.xml
/vcs.xml
